{% set _a = availability.get(card.id, []) %}
{% if _a %}
<div class="gacha_availability box {{ enums.attribute(card.attribute) }}">
  <div class="header">
    <span class="item left">{{ _("卡池详情") }}</span>
    <span class="item ext"></span>
  </div>
  <div class="content">
    <ul>
    {% for presence in _a %}

    {% if presence.type == presence._TYPE_EVENT %}

    <li class="avlistentry_event  {{ "ga_available" if presence.start <= now < presence.end else "ga_unavailable" }}">
      <strong class="{{ "ga_available" if presence.start <= now < presence.end else "ga_unavailable" }}">活动</strong>: {% raw tlable(presence.name) %}
      <small>({{ starlight.en.availability_date_range(presence, now) }})</small>
    </li>

    {% elif presence.type == presence._TYPE_GACHA %}

    <li class="avlistentry_regular
        {{ "ga_available" if presence.start <= now < presence.end or not presence.limited else "ga_unavailable" }}">
      <strong class="
          {{ "ga_available" if presence.start <= now < presence.end or not presence.limited else "ga_unavailable" }}">
        {% if presence.name %}
        {% raw tlable(presence.name) %}
        {% else %}
        扭蛋
        {% end %}
      </strong>

      <small>({{ starlight.en.availability_date_range(presence, now) }})</small>

      {% if presence.limited %}
      <ul class="avlistentry_regular_melded">
        <li>此卡牌在该扭蛋时段为限定卡牌。</li>
      </ul>
      {% end %}

    </li>
    {% end %}

    {% end %}
    </ul>
  </div>
</div>
{% end %}