<div class="container site_notice" style="font-size:8px; padding:6px 10px; color:white; border-bottom:1px solid #333;">
  <span>亲爱的用户：近期工作繁忙，实在无暇顾及CGSS频繁的客户端更新，后端app版本号如未更新将无法更新卡牌信息。
    如果您发现卡牌信息未更新，请您在微博<b>私信</b> @顺德大槻唯 通知站长，感谢您一贯的支持。</span>
  <br/><span>若遇上访问速度慢或特定时期，您可以访问我们的备用地址：<a href="https://starlight.346lab.cf">starlight.346lab.cf</a>（.org替换成.cf），由Cloudflare提供访问支持。</span>
</div>
<div class="container donate_notice" style="font-size:8px; padding:6px 10px; color:white;">
  除API外，数据库网页部分已启用SSL安全连接。<br/>
  网站生存不易，若您愿意，您可以<a href="/static/donation.html">请我们吃顿热饭</a>。<br/>
  服务器维持花费约CNY￥60/月，346lab.org域名约CNY￥80/年。
</div>
<div class="container site_notice" style="font-size:13px; padding:6px 10px; color:white; border-bottom:1px solid #333;">
  <span>本站443端口已恢复正常工作，但仍可能受到有关防火墙干扰导致有一定几率连接重置，不便之处敬请原谅。</span>
</div>
