<div class="container site_notice" style="font-size:13px; padding:6px 10px; color:white; border-bottom:1px solid #333;">
  <span>本站于搬家时发生意外导致数据遗失。因无其他备份，翻译数据现已回滚至2019.1.9备份，保管不力，万分抱歉。</span>
  <br/><span>若遇上访问速度慢或特定时期，您可以访问我们的备用地址：<a href="https://starlight-cf.346lab.org">starlight-cf.346lab.org</a>，由Cloudflare提供访问支持。</span>
</div>
<div class="container donate_notice" style="font-size:13px; padding:6px 10px; color:white;">
  除API外，数据库网页部分已启用SSL安全连接。<br/>
  网站生存不易，若您愿意，您可以<a href="/static/donation.html">请我们吃顿热饭</a>。<br/>
  服务器维持花费约CNY￥60/月，346lab.org域名约CNY￥80/年。
</div>
